#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [61]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [65]:
file = pd.read_csv('ttest_machine.txt')
#file

In [68]:
file[['New', 'Old']] = file["New_machine Old_machine"].apply(lambda x: pd.Series(str(x).split(" ")))   # seperating the two data into separate columns
#file

In [70]:
file.dtypes    # checking data types

New_machine Old_machine    object
New                        object
Old                        object
dtype: object

In [71]:
file['New'] = pd.to_numeric(file['New'], errors='coerce')  # converting data from object to numeric

file['Old'] = pd.to_numeric(file['Old'], errors='coerce')

In [19]:
#Null hypothesis or H0: mean value of the 1st machine >= 2nd machine
#Alternative hyp or H1: mean value of the 1st machine < 2nd machine

In [37]:
# H0 = mean value of the second machine >= first machine
# H1 = mean value of the second machine < first machine
import scipy.stats as st
stat, pval = st.ttest_1samp(file['New'], file['Old'].mean())
print('stat is ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is  -5.04331853503833
pvalue for the one-tailed test is  0.00034831880383795163

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [38]:
pokemon = pd.read_csv('pokemon.txt')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [48]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
#     for feature in features():
#         legendary = pokemon[pokemon['Legendary'] == True]
#         legendary
    
#     return results
    for feat in features:
        test_result = st.ttest_ind(s1[feat], s2[feat], equal_var=False)
        p_value = test_result[1]
        results.update({feat : p_value})
        
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [49]:
legendary = pokemon[pokemon['Legendary'] == True]
legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [50]:
non_legendary = pokemon[pokemon['Legendary'] == False]
non_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [53]:
t_test_features(legendary, non_legendary)

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.826998494919331e-11,
 'Sp. Atk': 1.5514614112239816e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.0490163118824507e-18,
 'Total': 9.357954335957444e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [51]:
# The stats show that the two groups are not significantly different due to the high stats values

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [54]:
generation1 = pokemon.loc[pokemon['Generation'] == 1]

In [55]:
generation2 = pokemon.loc[pokemon['Generation'] == 2]

In [56]:
t_test_features(generation1, generation2)

{'HP': 0.14551697834219626,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [ ]:
# The stats show that the two groups and Generation 2; Generation 1 and Generation 2 are also not significantly different due to the high stats values

#### Compare pokemons who have single type vs those having two types.

In [104]:
single_type = pokemon.loc[pokemon['Type 2'].isnull()]

In [105]:
two_types = pokemon.loc[pokemon['Type 2'].notnull()]

In [106]:
t_test_features(single_type, two_types)

{'HP': 0.11314389855379413,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667907,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819093,
 'Total': 1.1157056505229964e-07}

#### What conclusions can you make?

In [ ]:
# # The stats show that the two groups shows some difference due to the low stats values in some instances

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [107]:
print(stats.ttest_rel(pokemon.Attack, pokemon.Defense))

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [108]:
print(stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def']))

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

#### What conclusions can you make?

In [ ]:
# Given the the more than 0.05 alpha values, it can be posited that there is no significant difference between the elements
# of each comparison class; Attack vs Defense and Atk vs Sp. Def. For this reason, the Null Hypothesis is not rejected.